/*
https://coolors.co/c97537-2f3833-d0ccd0-fbfcff-605856
bronze: rgba(201, 117, 55, 1);
jet: rgba(47, 56, 51, 1);
light gray: rgba(208, 204, 208, 1);
white: rgba(251, 252, 255, 1);
wenge: rgba(96, 88, 86, 1);
*/

. {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(251, 252, 255, 1);
    /*min-width: 900px;
    max-width: 200px;*/
    margin: 0px;
}

.header {
    height: 500px;
    width: 100%;
    background-image: url(images/background-home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main{
    padding: 50px;
}

.footer {
    padding: 40px 70px;
    background-color: rgba(96, 88, 86, 1);
}


nav {
    height: 55px;
    width: 100%;
}

nav ul{
    list-style-type: none;
    width: inherit;
    height: inherit;
    background-color: rgba(251, 252, 255, 0.75);
    overflow: hidden;
    float: right;
    margin: auto;
}

nav ul li{
    float: left;
    padding: 0px 10px;
    margin: auto;
}

nav ul li a{
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    height: inherit;
    display: block;
    color: rgba(47, 56, 51, 1)
}

nav ul li a:hover{
    background-color: rgba(251, 252, 255, .5);
}

.main-logo{
    margin: 10% auto auto auto;
    display:block;
}

h1{
    font-family: 'Bungee', cursive;
    font-size: 1em;
}

p{
    font-family: 'Merriweather', serif;
    font-size: .9em;
    letter-spacing: .025em;
    line-height: 1.8em;
}